body {
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;

}

h1, h2, h3, h4, h5, h6 {
  color: #343434;
  padding: .5rem;
  position: relative;
  display: block;
}

input {
  border-radius: .2rem;
}

.screen-reader {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.overlay {
  .header {
    h3, button.close {
      display: inline-block;
    }
  }
}