button.close {
  position: relative;
  width: 1.571rem;
  height: 1.571rem;
  background-color: darken(@close-btn-bg, 20%);
  border: none;
  border-radius: .3rem;
  &:hover {
    background-color: @close-btn-bg;
  }
  &:active {
    background-color: darken(@close-btn-bg, 10%);
    &:before, &:after {
      background-color: darken(@close-btn-x, 10%);
    }
  }
  &:before, &:after {
    position: absolute;
    top: 0.2857rem;
    left: 0.7143rem;
    content: ' ';
    height: 1rem;
    width: 0.1429rem;
    background-color: @close-btn-x;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

}

button {
  &:hover {
    .screen-reader {
      position: absolute;
      left: 0;
      bottom: -1.5rem;
      width: auto;
      height: auto;
      background-color: lightgrey;
    }
  }
}