.px2rem(@px-value) {
  @px2rem-xs: unit((@px-value / @root-font-size-xs ), rem);
  @px2rem-sm: unit((@px-value / @root-font-size-sm ), rem);
  @px2rem-ms: unit((@px-value / @root-font-size-ms ), rem);
  @px2rem-md: unit((@px-value / @root-font-size-md ), rem);
  @px2rem-lg: unit((@px-value / @root-font-size-lg ), rem);
}